<% term = @person.id ? 'Edit Person' : 'Add Person' %> #checks to see if the person has in id. yes edit, no add

<h1><%= term %></h1>
<%= form_for @person do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <%= f.label :age %>
  <%= f.number_field :age, min: 18 %>
  <%= f.submit :Add %>
<% end %>
